<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>Alterar Equipamento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Status de Emprestimo</ion-label>
        <ion-select multiple="false" placeholder="Status" [(ngModel)]="locationStatus">
          <ion-select-option value="indisponivel">Indisponivel</ion-select-option>
          <ion-select-option value="disponivel">Disponivel</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="update()">
        Atualizar
      </ion-button>
    </ion-list>
  </ion-card>

</ion-content>