.header{
    text-align: center;
}

.card-equipamento{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;
    background-color: rgba(220, 221, 221, 0.377);
    padding-bottom: 20px;
}

.menu-equipamento{
    position: absolute;
    bottom: 0;
}

.botao-equipamento{
    height: 30px;
}
