<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        Refresh
      </ion-button>
    </ion-buttons>
    <ion-button slot="end" (click)="addEquipamento()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h3>Equipamentos</h3>
  </ion-text>
  <div class="lista-de-equipamentos">
    <ion-list>
      <ion-card button class="card-equipamento" *ngFor="let item of arrayOfProducts">
        <ion-card-subtitle class="ion-padding">{{item.name}}</ion-card-subtitle>

        <ion-card-content>
          <ion-img [src]="item.imageURL"></ion-img>
        </ion-card-content>

        <div class="menu-equipamento">
          <ion-button class="botao-equipamento" (click)="deleteProduct(item.id)">
            Deletar
          </ion-button>
          <ion-button class="botao-equipamento" (click)="changeEquipamento(item.id, item.name)">
            Alterar
          </ion-button>
          <ion-button class="botao-equipamento">
            {{item.locationStatus}}
          </ion-button>
        </div>

      </ion-card>
    </ion-list>
  </div>
</ion-content>