<ion-header>
  <ion-toolbar color="success" class="ion-text-center">
    <ion-title style="width: fit-content">Gerenciador de Estoque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >

  <ion-list class="login-list">
    
    <ion-item class="login-form" >
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input type="text" placeholder="Matricula" [(ngModel)]="enrollID"></ion-input>
    </ion-item>
    
    <ion-item class="login-form" >
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
      <!-- <ion-label *ngIf="(_password == null || _enrollID == null)">Senha ou usuario incorretos</ion-label> -->
    </ion-item>
    
    <div class="ion-padding">
      <ion-button color="primary" (click)="login()">
        Entrar
      </ion-button>
      
      <ion-button color="primary" [routerLink]="['/signup']" routerLinkActive="router-link-active" >
        Cadastrar
      </ion-button>
    </div>
    
  </ion-list>

</ion-content>