<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">signup</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="login-form">
    
    <ion-item >
      <ion-label>Nome: </ion-label>
      <ion-input type="text" placeholder="Nome" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Matricula: </ion-label>
      <ion-input type="text" placeholder="Matricula" [(ngModel)]="enrollID" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha: </ion-label>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button (click)="signup()">
      Cadastrar
    </ion-button>
    <ion-label *ngIf="signStatus == false">Preencha todos os campos</ion-label>
  </ion-list>
</ion-content>
