<ion-header>
  <ion-toolbar>
    <ion-title>addEquipamento</ion-title>
    <ion-button (click)="dismiss()" slot="start">
      Voltar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Id</ion-label>
        <ion-input type="text" placeholder="Id" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <li>
          <ion-label>Data de Aquisição</ion-label>
          <ion-input type="date" placeholder="Data de Aquisição" [(ngModel)]="data"></ion-input>
        </li> 
      </ion-item>
      <ion-button (click)="selectImage()">
        Imagem
      </ion-button>
      <ion-button (click)="addProduct()">
        Adicionar
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>